<html lang="en">
<head>
    {{ include('resource_include/bootstrap_css.twig') }}
    {{ include('resource_include/bootstrap_js.twig') }}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_script_tags('app') }}
    <title>php-dry</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
</head>
<body>
<div class="container-fluid">
    <div class="row buffer-row-3"></div>
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <h1 class="display-1 php-dry-brand-font">php-dry</h1>
        </div>
        <div class="col-12 text-center">
            <img
                    id="php-dry-logo"
                    src="{{ asset('php-dry.svg') }}"
                    alt="The logo of php-dry: A T-shirt on a clothesline rope."
            >
        </div>
        <div class="col-12 text-center">
            <h2>Syntactical and semantic clone detection for PHP in PHP</h2>
        </div>
    </div>
    <div class="row buffer-row-2"></div>
    {{ include('home/partial/buttons_larger_screens.twig') }}
    {{ include('home/partial/buttons_smaller_screens.twig') }}
    <div class="row" id="current-version-number">
        <div class="col text-center">
            <p>Latest version: <span class="font-monospace">{{ current_version_number }}</span></p>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <p>
                <span class="align-middle">by</span>
                <a class="btn btn-dark btn-sm" target="_blank" href="https://leovie.de">Leo Viezens</a>
                <span class="align-middle">and</span>
                <a class="btn btn-dark btn-sm" target="_blank" href="https://github.com/leovie/php-dry/graphs/contributors">community</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="text-center">sponsored by</p>
        </div>
    </div>
    <div class="row">
        <div class="offset-xl-5 col-xl-2 offset-sm-5 col-sm-2 offset-4 col-4">
            <div class="offset-xl-3 col-xl-6 offset-sm-0 col-sm-12 offset-3 col-6">
                <a href="https://queo.de" target="_blank">
                    {{ include('partial/queo_logo.twig') }}
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>